<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="co.simplon.PoleEmploi" level="INFO" />
  <logger name="co.simplon.PoleEmploi.components.EntityManagerProducer" level="DEBUG" />
  <!-- Volontaire pour éviter un faux positif sur le lancement avec le plugin Maven Apache Tomcat -->
  <logger name="org.jboss.weld.environment.servletTomcat" level="OFF" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>